{% extends "twitterdd/base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1 class="text-center">{{username}}'s Profile</h1>
        <p class="text-center">
        <h3 class="text-left">
          
        </h3>
          <form action="/userpage/{{username}}" method="post">
          {% csrf_token %}
          <input type="hidden" name=username value="{{username}}">
          <h3 class="text-right">
              <a type="button" href="#" class="btn btn-info btn-md ">
                {{num_following}} Following
              </a>
              <a type="button" href="#" class="btn btn-info btn-md ">
                {{num_follower}} Followers
              </a>
              {% if following %}
              <input class="btn btn-success" type=submit value=Following>
              <input type="hidden" name=action value="unfollow">
              {% else %}
                {% if login %}
                  <input class="btn btn-success" type=submit value=Follow>
                  <input type="hidden" name=action value="follow">
                {% else %}
                  <a class="btn btn-success" href="#login" data-toggle="modal">Follow</a>
                {% endif %}
              {% endif %}
          </h3>
          </form>
        </p>
    </div>
    <div class="jumbotron">
      {% if tweets %}
        <ul>
        {% for tweet in tweets %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="/userpage/{{tweet.username.username}}">{{tweet.username.username}}</a>&nbsp&nbsp&nbsp&nbsp{{tweet.timestamp}}</h3>
          </div>
          <div class="panel-body">
            {{tweet.text}}
          </div>
        </div>
        {% endfor %}
        </ul>
      {% else %}
        <p>No tweets to display.</p>
      {% endif %}
    </div>



  </div>
{% endblock %}